@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>MultiTenantKit Claim Resolution Sample</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h3>User Claims</h3>

        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>

    </div>
</div>

@if (Context.GetTenantContext<CustomTenant>() == null)
{
    <div class="row">
        <div class="col-12 text-danger text-center">
            <h3>No tenant resolved!</h3>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 text-center">
            <h3>Tenant Data</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6 text-center">
            <p>Tenant Id:</p>
        </div>
        <div class="col-6">
            <p>@Model.TenantId</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <p>Tenant Name:</p>
        </div>
        <div class="col-6">
            <p>@Model.TenantName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <p>Css Theme:</p>
        </div>
        <div class="col-6">
            <p>@Model.TenantCssTheme</p>
        </div>
    </div>
}
